@model socialMedia.Core.DTO.ProjectDetailsViewModel;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div style="padding:50px" class="container">
    <div class="d-flex justify-content-between">
        <h2 class="mt-5 text-primary">PROJECT DETAIL</h2>
    </div>
    <div class="mt-4">
        <h3>
            <b> Name:</b>@Model.Project.Name</h3>
        <p> <b>Description:</b> @Model.Project.Description</p>
        <p> <b>Created At:</b>  @Model.Project.CreatedAt.ToString("yyyy-MM-dd")</p>
        <p> <b>Status:</b>  @(Model.Project.IsActive ? "Active" : "Inactive")</p>
    </div>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

    @{
        int serial = 1;
    }

    <table id="employeeTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>ContentType</th>
                <th>Assigned to</th>
                <th>CreatedAt</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>CompletionDate</th>
                <th>CompletionLink</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Description</td> 
                    <td>@task.ContentType</td>
                    <td>@task.EmployeeName</td>
                    <td>@task.CreatedAt</td>
                    <td>@task.Deadline</td>
                    <td>@task.Status</td>
                    <td>@task.CompletionDate</td>
                    <td>@task.CompletionLink</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- jQuery + DataTables JS -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#employeeTable').DataTable();
    });
</script>